.comment-item {
  width: 50vw;
  margin-left: 25vw;
  border-radius: 2%;
  margin-bottom: 5px;
  background-color: rgba(39, 88, 245, 0.5);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
}
