.single-review {
  padding: 10px;
  border-radius: 2%;
  margin: 0 auto 20px auto;
  width: auto;
  justify-content: space-around;
  color: gray;
  background-color: #08aeea;
  background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);
}

.filters-section {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

/* .review-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

@media only screen and (min-width: 600px) {
  .review-list {
    display: flex;
    flex-wrap: wrap;
  }

  .single-review {
    width: 550px;
    justify-content: space-around;
  }
}
