.review {
  color: gray;
  padding-left: 5%;
  padding-right: 5%;
  display: grid;
  justify-content: space-around;
  color: white;
  font-weight: bolder;
}

#review-title {
  color: #42f5aa;
  font-size: xx-large;
}

.review-image {
  height: auto;
  width: 90%;
  margin-left: 5%;
}

#review-title,
.review-image,
.review-info,
.review-body {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  border: 2px solid gray;
  border-radius: 2%;
}

@media only screen and (min-width: 600px) {
  .review {
    /* grid-template-columns: 100% 50% 50% 100% 100%; */
  }

  .review-image {
    width: 25%;
    margin-left: 0;
  }
}
