.App {
  text-align: center;
}

.mainHeader {
  margin: 0;
  background-color: rgba(39, 88, 245, 0.5);
  color: white;
}

button {
  background: #5e02b3;
  background-image: -webkit-linear-gradient(top, #5e02b3, #2e1180);
  background-image: -moz-linear-gradient(top, #5e02b3, #2e1180);
  background-image: -ms-linear-gradient(top, #5e02b3, #2e1180);
  background-image: -o-linear-gradient(top, #5e02b3, #2e1180);
  background-image: linear-gradient(to bottom, #5e02b3, #2e1180);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
