@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.App {
  text-align: center;
  padding-bottom: 50px;
  font-family: "Roboto", sans-serif;
}

.main-header {
  margin: 0;
  color: #42f5aa;
  font-size: 5rem;
  font-family: "Pacifico", cursive;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

/* button {
  background: #5e02b3;
  background-image: -webkit-linear-gradient(top, #5e02b3, #2e1180);
  background-image: -moz-linear-gradient(top, #5e02b3, #2e1180);
  background-image: -ms-linear-gradient(top, #5e02b3, #2e1180);
  background-image: -o-linear-gradient(top, #5e02b3, #2e1180);
  background-image: linear-gradient(to bottom, #5e02b3, #2e1180);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
} */
